TARGET=x86_64-apple-ios14.3-simulator

SDK_ROOT=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator14.3.sdk

PROJECT_SOURCE_ROOT=src/test/resources/GoodAsOldPhones

XCCONFIG_FILE_PATH=

PODS_ROOT=

PODS_CONFIGURATION_BUILD_DIR=

PODS_XCFRAMEWORKS_BUILD_DIR=

PODS_TARGET_SRCROOT=

BRIDGING_HEADER=

OBJC_HEADER_SEARCH_PATH=