name: Java CI with Gradle

on: 
  push:
    branches:
    - '**'
    tags-ignore:
      - '**'     
  pull_request:
    branches:
    - '**'
    tags-ignore:
      - '**' 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: actions/setup-java@v2
      with:
        java-version: '15'
        distribution: 'adopt'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build